nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgb(0, 0, 0) 100%);
    height: 7em;
    margin-bottom: 2em;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
    font-size: 20pt;
    transition: background-color 0.5s;
    margin-top: auto;
    margin-bottom: auto;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 2em;
    transition: background-color 0.2s;
}

nav a:hover {
    background-color: rgba(132, 255, 138, 0.219);
}

.nav-title {
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 28pt;
    color: white;
}

.bg {
    background-image: url(../images/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    background-attachment: fixed;
}