nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgb(0, 0, 0) 100%);
    height: 7em;
    margin-bottom: 2em;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
    font-size: 20pt;
    transition: background-color 0.5s;
    margin-top: auto;
    margin-bottom: auto;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 2em;
    transition: background-color 0.2s;
}

nav a:hover {
    background-color: rgba(132, 255, 138, 0.219);
}

.nav-title {
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 28pt;
    color: white;
}

.bg {
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    background-attachment: fixed;
    padding-bottom: 5em;
}

@media only screen and (max-width: 600px) {
    .nav-title {
        float: none;
    }
    nav{
        flex-direction: column;
        height: fit-content;
        margin-top: 1em;
        margin-bottom: 0;
        width: 100%;
    }
    nav ul {
        flex-direction: column;
        padding-top: 1em;
    }
    nav li {
        box-sizing: border-box;
        width: 100%;
    }

    nav a {
        box-sizing: border-box;
        padding-top: 1em;
        padding-bottom: 1em;
        width: 100%;
        display: inline-block;
    }

    nav li[show='0'] {
        display: none;
    }

    .arrow {
        border: solid rgb(255, 255, 255);
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 5px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transition: transform 0.3s;
    }

    .arrow-div {
        margin-top: 1em;
        width: 100%;
        padding: 1em;
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        cursor: pointer;
    }

    .arrow[show='1'] {
        transform: rotate(-135deg);
    }
}