.container {
    background-color: rgb(255, 255, 255);
    max-width: 70em;
    margin-right: auto;
    margin-left: auto;
}

.post-image {
    width: 100%;
}

.post-title {
    padding-top: 1em;
    padding-bottom: none;
}

.by-title {
    display: inline-block;
    margin-bottom: 2em;
}

.by-link {
    color: gray;
    transition: color 0.3s;
}

.by-link:hover {
    color: rgb(150, 207, 65);
}

.post-link {
    color: rgb(67, 151, 61);
    font-weight: 600;
    transition: color 0.3s;
    transition: border-bottom 0.1s;
    border-bottom: 1px solid rgb(67, 151, 61);
}

.post-link:hover {
    color: rgb(150, 207, 65);
    border-bottom: rgb(150, 207, 65);

}

.post-body {
    text-indent: 3em;
    padding-top: 0em;
    padding-left: 8em;
    padding-right: 8em;
    padding-bottom: 1em;
    text-align: left;
    font-size: 15pt;
    line-height: 2em;
}

q {
    font-style: italic;
    color: grey;
    transition: color 0.2s;
}
p q:hover {
    color: rgb(110, 156, 40);
}

/*== Rational ==*/

.left-container {
    text-align: left;
    padding: 5em;
    padding-top: 3em;
    padding-bottom: 3em;
    max-width: 50em;
    font-size: 15pt;
    line-height: 2em;
}

.left-container li {
    margin-bottom: 1em;
}

@media only screen and (max-width: 600px) {
    .post-body {
        padding-left: 1em;
        padding-right: 1em;
    }
    .left-container {
        padding-left: 1em;
        padding-right: 1em;
    }
}